@model TrainReserveSystem.Models.Passenger_Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passenger_Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Booking_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Booking_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger_Details.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger_Details.FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PB_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
