@model IEnumerable<TrainReserveSystem.Models.Passenger_Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Booking_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passenger_Details.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking.Booking_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passenger_Details.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PB_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PB_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PB_ID })
        </td>
    </tr>
}

</table>
