@model TrainReserveSystem.Models.Passenger_Details

@{
    ViewBag.Title = "Confirm_Details";
}

<h2>Details of Booking</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var passenger in (Session["passengerlist"] as List<TrainReserveSystem.Models.Passenger_Details>))
        {
            <tr>
                <td>@passenger.FName</td>
                <td>@passenger.LName</td>
                <td>@passenger.Mobile</td>
                <td>@passenger.Email</td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("proceedtopayment","Passenger_Details"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Proceed to Payment" class="btn btn-default" />
        </div>
    </div>
}
