@model IEnumerable<TrainReserveSystem.Models.Train_Detail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Train_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Travel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Train_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Seats_Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacant_Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Train_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Travel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Train_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Seats_Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vacant_Seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Train_Detail_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Train_Detail_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Train_Detail_ID })
        </td>
    </tr>
}

</table>
